@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&family=Suranna&display=swap');

* {
    box-sizing: border-box; /*Добавить границу в размеры самого эл-та */
  }

body {
    /* font-family: Vedana, Ceneva, sans-serif;  Если нет 1-го шрифта, исп-ся 2-й и т.д*/
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* font: normal 20px 'Roboto', sans-serif; /* Сокращённая запись/ */
    line-height: 1.6em; /* Междустрочный интервал */
    /* text-decoration: underline; */
    /* font-style: italic; */
    /* letter-spacing: 2px; */
    /* word-spacing: 20px; Расстояние между словами */ 
    background-color: #f1f1f1;
    color: #0f141e;
}

.container {
    max-width: 750px; /* Макс-я ширина для адаптивного дизайна (чтобы контент не растягивался на широких экранах) */
    margin: auto; /* По центру, для всех 4-х сторон равномерно */
    padding-top: 30px;
}

.avatar {
    width: 200px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25); /* Тень */
}

.info {
    margin-bottom: 20px;
}

.info-text p {
    font-style: italic;
    font-weight: bold;
    color: #86898f;
    margin: 0;
}

.info-text h4 {
    margin-bottom: 10px;
}

a {
    color: #000;
    text-decoration: none;
    transition: all .2s; /* Плавный анимационный переход  для всех изменяемых свойств элемента (цвет, размер, прозрачность и т.д.) длительностью 0.2сек */
}

 a:hover { /*Псевдоселектор состояния сссылки, становится оранжевой при наведении курсора */
    color: orange;
    text-decoration: underline; /* Подчёркивание */
    /* font-size: 2rem; Изменение размера при наведении*/
    /* transform: scale(1.05);  позволяет визуально изменять элемент: перемещать, масштабировать, вращать, наклонять и искажать.  
    В данном случае увеличивается в 1,05 раза*/
} /* Работает не только для ссылок */

a:active { /* Если нажать и держать */
    color: blue;
}

a:visited {
    color: red; /* Становится красной после перехода по ссылке */
}

.card {
    border-radius: 20px;
    padding: 15px 20px;
    margin-bottom: 20px; /* Хорошая практика использования, не нарушает структуру сайта */
}

.card h2 {
    margin-bottom: 10px;
}

.btn-form {
    margin-top: 5px;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit; /* заставляет элемент наследовать шрифт у своего родителя. */
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    opacity: 0.8; /* элемент будет на 80% непрозрачным (и на 20% прозрачным) при наведении */
}

.card div {
    margin-bottom: 10px;
}

.bg-yellow {
    background: #fff9dc;
}

.bg-red {
    background: #ffe5e5;
}

.bg-green {
    background: #d6f2ae;
}


/* h1 {
    color: red;
    font-size: 50px;
    letter-spacing: 4px; /* Расстояние между буквами */
    /* border-bottom: 2px solid black;
} */